.container-dashboard {
  background: #f2f4fa;
  padding-bottom: 30px;
  .card-container {
    background: #0b49b3;
    padding: 30px;
    padding-left: 20px;
    padding-right: 15px;
    .div-bread {
      display: flex;
      color: white;

      padding-left: 15px;
      padding-right: 15px;

      .bread {
        display: flex;
        align-items: center;
        flex: 1;
      }
      .media768 {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .card {
      display: -webkit-box;
      flex-wrap: wrap;
      margin-top: 30px;
      justify-content: space-between;
      border: none;
      background: #0b49b3;
      padding-left: 11px;
      padding-right: 11px;
    }

    padding-bottom: 120px;
  }
  .cardBreadpoint {
    border-radius: 50px;
    margin-bottom: 15px;

    // @media screen and (min-width: 769px) {
    //   width: 50%;
    // }
    // @media screen and (min-width: 1200px) {
    //   width: 25%;
    // }
    // @media screen and (max-width: 768px) {
    //   width: 100%;
    // }
  }
  .chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -125px;
    padding: 30px;
    padding-left: 27px;
    padding-right: 15px;
    margin-right: 0;
    .chart-two {
      background: #172b4d;
      border-radius: 10px;
      padding: 15px;
    }
    .chart-one {
      background: white;
      border-radius: 10px;
      padding: 15px;
    }
  }
  .session-member {
    padding: 30px;
    margin-top: -20px;
  }
}
