.checkbox1 {
  margin: 0 0 1em 2em;
 
}
.checkbox1 .tag {
  color: #595959;
  display: block;
  float: left;
  font-weight: bold;
  position: relative;
  width: 120px;
 
}
.checkbox1 label {
  display: inline;
  
}
.checkbox1 .input-cb1 {
  display: none;
}
.input-cb1 + label:after {
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  transition-duration: 0.3s;
  width: 16px;
  height: 16px;
  content: '';
  margin-left: 10px;
}
.input-cb1:checked + label:after {
  background-color: #01b801;
}


.checkbox2 {
  margin: 0 0 1em 2em;
 
}
.checkbox2 .tag {
  color: #595959;
  display: block;
  float: left;
  font-weight: bold;
  position: relative;
  width: 120px;
 
}
.checkbox2 label {
  display: inline;
  
}
.checkbox2 .input-cb2 {
  display: none;
}
.input-cb2 + label:after {
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  transition-duration: 0.3s;
  width: 16px;
  height: 16px;
  content: '';
  margin-left: 10px;
}
.input-cb2:checked + label:after {
  background-color: red;
}

.checkbox-green:after{
  background: rgb(0, 201, 0);
  
}
.checkbox-green:checked{
  background: rgb(0, 184, 0);
}
.checkbox-red:after{
  background: rgb(228, 1, 1);
  
}
.checkbox-red:checked{
  background: rgb(228, 1, 1);
}