.container-notfound{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  
  .img-notfound{

    border: none;
    margin-left: 30px;
  }
  
  .button-back{
    margin-top: 32px;
  }
}